@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders';
@import './utils/mixins';

@import './base/common';
@import './base/container';
@import './base/section';

@import './components/modal-btn';
@import './components/media-list';
@import './components/suptitle';
@import './components/section-description';
@import './components/title';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';

@import './layout/page-header';
@import './layout/hero';
@import './layout/about';
@import './layout/services';
@import './layout/advantages';
@import './layout/employees';
@import './layout/gallery';
@import './layout/contacts-wrapper';
@import './layout/contact-form-section';
@import './layout/contact-info';
@import './layout/footer';
