.contact-info-section {
  width: 50%;
  padding-left: 100px;
}

.contact-info-section-address {
  width: 260px;
  font-style: normal;
  margin-bottom: 66px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-list-icon {
  flex-shrink: 0;
  margin-right: 16px;
  stroke: #9da4bd;
  transition: stroke var(--transition-dur-and-func);

  .contact-list-link:hover &,
  .contact-list-link:focus & {
    stroke: var(--accent-color);
  }
}

.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
}
