.contact-sections-wrapper {
  background-color: #191c26;
  background-image: url('../images/contacts/bg.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% auto;
}

.contact-sections-wrapper-container {
  display: flex;
}
